$screenWidth: 1440px;
$backgroundMain: #FFF;
$backgroundLightGreen: #4aa02b;
$backgroundDarkGreen: #21500e;
$backgroundLightGreenBox: rgb(238, 250, 238);
$backgroundLightGreyBox: rgb(249, 249, 249);
$colorTextWhite: white;
$colorTextBlack: black;
$colorTextDarkGreen: #288008;
$colorLinkDarkGreen: #21500e;
$colorLinkHoverLightGreen: #4aa02b;
$colorLinkHoverViolet: #9647d6;
